$nav-height: 70px;
$header-height: 38px;
$content-br: 2px;
$row-height: 60px;

$b1: rgb(9, 32, 63);
$b2: linear-gradient(144deg, $b1 14%, rgba(99, 149, 187, 1) 100%);
$bc1: rgb(9, 32, 63);
$bc2: #6395bb;
$bcwrapper: rgba(255, 255, 255, 0.486);
$green: #2a9d8f;
$row-bg-hover: #293241;
$row-Old-bg: #8d99ae;
$row-header-bg: #ecb900;
$input-placeholder-color: rgba(0, 0, 0, 0.424);
$app-input-placeholder-color: rgb(93, 93, 93);