@import "/styles/vars";

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Wrapper {
	width: 100vw;
	height: 100vh;
	.nav {
		position: sticky;
		width: 100%;
		height: $nav-height;
		background-color: $bc1;
		display: flex;
		div {
			flex: 1;
		}
		.navLeft {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		.navMiddle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			.inputWrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				input {
					width: 50%;
					padding: 12px 18px;
					font-size: 15px;
					border-radius: 10px;
					background-color: $bc2;
					&::placeholder {
						color: $app-input-placeholder-color;
						font-weight: 600;
					}
				}
			}
		}
		.navRight {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			&:last-child {
				margin-right: 1em;
			}
		}
		button {
			border-color: $bc2;
			margin-left: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;

			&.buttonDelete {
				color: $red;
				border-color: $red;
				&:hover {
					background-color: $red;
					color: black;
				}
			}
			&.buttonEdit {
				&:not(:disabled) {
					color: $info-blue;
					border-color: $info-blue;
					&:hover {
						background-color: $info-blue;
						color: black;
					}
				}
				&:disabled {
					border-color: $red;
					&:hover {
						animation: shake 0.5s;
						animation-iteration-count: infinite;
					}
				}
			}
			&.buttonNewRow {
				color: #28a745;
				&:hover {
					color: $bc1;
				}
			}
			&.buttonBack {
				color: rgb(134, 134, 134);
				&:hover {
					color: $bc1;
				}
			}
			svg {
				margin-right: 0.4em;
			}
		}
	}

	.wrapper {
		width: 100vw;
		height: calc(100vh - #{$nav-height});
	}
}

@keyframes shake {
	0% { transform: translateX(1px); }
	10% { transform: translateX(-1px); }
	20% { transform: translateX(-2px); }
	30% { transform: translateX(2px); }
	40% { transform: translateX(1px); }
	50% { transform: translateX(-1px); }
	60% { transform: translateX(-2px); }
	70% { transform: translateX(2px); }
	80% { transform: translateX(-1px); }
	90% { transform: translateX(1px); }
	100% { transform: translateX(1px); }
}
